body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia";
    margin-top: 1em;
    padding-top: 1em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 2.0em;
}

h4 { 
    font-size: 1.5em;
}